body {
    text-align: center;
}

h1 {
    color: #4F6F52;
    font-family: 'pacifico', serif;
    font-size: 7rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 75px;
}

h2 {
    color: #4F6F52;
    font-family: 'figtree', serif;
    margin-top:40px;
}

p {
    font-family: 'figtree', serif;
    font-size: 1.4rem;
    font-weight: 500;
}

button {
    background-color: rgb(193, 189, 189);
    border-radius: 10px;
    font-size: 0.9rem;
    height: 34px;
    margin-left: 10px;
    transition: background-color 0.5s;
    width: 80px;
}

button:hover {
    background-color: #739072;
}

input[type="text"] {
    border: 3px solid black;
    border-radius: 10px;
    font-family: 'figtree', serif;
    margin-bottom: 50px;
    padding: 10px 40px 10px 40px;
    text-align: center;
    width: 300px;
}

input[placeholder] {
    font-size: 1rem;
}

input:hover {
    background-color: #f5f2e8;
}

table {
    border: 3px solid black;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0;
    font-family: 'figtree', serif;
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

tr, td {
    border: 1px solid black;
}

#responseDiv {
    align-items: center;
    background-color: #f7faef;
    position: relative;    
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.container::before {
    content: "";
    background-image: url(background-image.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.09;
}

.content {
    position: relative;
}

.hint {
    font-size: 1.2rem;
}

.nutritionalTitle {
    font-size: 4rem;
    font-weight: 300;
}
