body {
    text-align: center;
}

h1 {
    color: #4F6F52;
    font-family: 'pacifico', serif;
    font-size: 7rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 65px;
}

h2 {
    color: #4F6F52;
    font-family: 'figtree', serif;
    margin-top: 45px;
    padding: 15px;
}

p {
    font-family: 'figtree', serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 5px;
}

button {
    background-color: rgb(210, 207, 207);
    border-radius: 10px;
    font-size: 0.9rem;
    height: 34px;
    margin-left: 10px;
    transition: background-color 0.5s;
    width: 80px;
}

button:hover {
    background-color: #739072;
}

footer {
    background-color: #f8f9f6;
    padding: 15px;
}

footer > p {
    font-size: 1rem;
    margin: 0;
}

input[type="text"] {
    border: 3px solid black;
    border-radius: 10px;
    font-family: 'figtree', serif;
    padding: 10px 40px 10px 40px;
    text-align: center;
    width: 300px;
}

input[placeholder] {
    font-size: 1rem;
}

input:hover {
    background-color: #f5f2e8;
}

img {
    margin-bottom: 12px;
}

table {
    border: 3px solid black;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0;
    font-family: 'figtree', serif;
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

tr, td {
    border: 1px solid black;
}

#breakfast {
    background-color: #DBFEB8;
}

#dinner {
    background-color: #bce5a3;
}

#snack {
    background-color: #99C2A2;
}

#ingredientSearch, #nutritionSearch {
    margin-bottom: 30px;
}

#responseDiv {
    align-items: center;
    background-color: #f8f9f6;
    position: relative;
}

.container {
    align-items: center;
    height: 100vh;
    position: relative;
    width: 100%;
}

.container::before {
    background-image: url(background-image.png);
    background-size: cover;
    content: "";
    opacity: 0.09;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.content {
    position: relative;
}

.hint {
    font-size: 1.2rem;
}

.left-align {
    padding: 4px;
    text-align: left;
}

.right-align {
    padding: 4px;
    text-align: right;
}

.links {
    font-size: 1rem;
    margin-bottom: 0px;
}

.mealTypeButton {
    margin: 0px 12px 30px;
}

.nutritionTitle {
    font-size: 3rem;
    font-weight: 300;
}
